.cardImage > img {
    width: 250px;
    min-width: 200px;
    margin-bottom: -4px;
    max-height: 100%;
    /* max-height: 140.63px; */
}
section {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    background-color: #F78B00;
    border: 6px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    width: 700px;
    padding: 0%;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.description {
    margin-left: 20px;
    font-size: 15px;
}
.title {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 25px;
}
