img {
    width: 250px;
    border: 10px solid black;
}
section {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    border: 6px solid black;
    border-radius: 10px;
    width: 700px;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
}