.redes > ul {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.redes > ul > li {
    margin-right: 20px;
    list-style: none;
}
a {
    color: aliceblue;
}
a:link {
    text-decoration:none;
    color: aliceblue;
    }
a:visited {
    text-decoration:none;
}